body {
    color: #255c21;
    background-color: #ffffff;
}

header { 
    color: #99c89b;
    background-color: #99c89b;
}

.site-title {
    color: #255c21;
}

nav {
    background-color: #357234;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: bold;
}

table {
    border: 2px solid #000000;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #357234;
}

.table-title {
    background-color: #77a375;
    color: #255c21;
    font-weight: bold;
}

.row1 {
    background-color: #99c89b;
}

.row2 {
    background-color: #F7F7F7;
}

footer {
    color: #255c21;
    background-color: #77a375;
}
